
.container {
    margin: 10px;
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    color:  #480607;
    font-weight: bold;
}
.values {
    text-align: center;
    width: 26px;
    margin: 0 5px;
}