@import url("https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Marathi&display=swap");

.error {
  background-image: url("../../../img/error404.jpg");
  background-size: 100%;
  background-repeat: no-repeat;

  width: 100%;
  height: 100%;
  margin-top: 10px;

  color: #fff;

  font-family: "Tiro Devanagari Marathi", serif;
  text-align: center;

  position: absolute;
}

.error h1 {
  font-size: 200px;
  font-weight: 300;

  margin-bottom: 10px;
}
.error h2 {
  font-weight: 100;
  font-size: 30px;
}
