.contentSecond {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #989aad;
  height: 300px;
}

.contentSecond img {
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid rgb(255, 254, 254);
}

.messageFriendContainer {
  display: inline-table;
  position: relative;
  background-color: #c6cdda;
  float: right;
  padding: 10px 20px;
  line-height: 20px;
  border-radius: 12px 12px 0px 12px;
}

.messageFriendContainer::before {
  content: "";
  position: absolute;
  bottom: 20px;
  right: -20px;
  height: 40px;
  width: 40px;
  border-bottom-right-radius: 50%;
  box-shadow: 0 20px 0 0 #c6cdda;
}

.nameFriend {
  display: flex;
  justify-content: start;
  color: #000000;
}

.messageFriend {
  padding-right: 30px;
  color: #5a5b5e;
}

.timeFriend {
  display: flex;
  justify-content: end;
  color: aliceblue;
}
