@import url("https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Marathi&display=swap");
.container {
  font-family: "Tiro Devanagari Marathi", serif;
  background-color: #ffffff;

  max-width: max-content;
  justify-self: center;
}

.containerButtons {
  justify-self: center;
}
