.superInput {
}

.inputClass {
  padding: 10px;
  margin: 10px 0;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.errorInput {
  border: 3px solid lime;
  background: #E52B50
}

.error {
  color: #E52B50;
}
