.navMenu,
.nav,
.menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav {
  background: #dabdab;

  height: 25px;
  margin-top: 5px;
  padding: 3px;

  border: 1px solid #79443b;
  border-radius: 5px;

  box-shadow: 0 8px 15px rgba(121, 100, 100, 0.4);

  overflow: hidden;
  transition: 0.5s;
}

.menu {
  margin: 0;
  padding-left: 10px;
  width: 0;
  height: 18px;

  overflow: hidden;
  transition: 0.5s;
}

.menuOpen {
  width: 350px;
}

.menu li {
  margin: 0 10px;

  list-style: none;
}

.menu li a {
  color: #4c2f27;

  text-decoration: none;
  text-transform: uppercase;

  transition: 0.3s;
  letter-spacing: 1px;
}

.menu li a:hover {
  color: #4c2f27;

  font-weight: 600;

  padding: 1px;

  border-radius: 5px;
  box-shadow: none;
}
