@import url("https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Marathi&display=swap");

.default {
  margin: 5px 5px;
  padding: 3px;

  font-family: "Tiro Devanagari Marathi", serif;
  font-size: 15px;
  font-weight: 300;
  outline: none;
  text-decoration: none;

  min-width: min-content;
  max-width: max-content;

  background-color: #c7d0cc48;
  border: 1px solid #606e8c;
  border-radius: 5px;
  color: #1a1a1a;

  box-shadow: rgba(45, 35, 66, 0.6) 0 8px 10px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #919baf 0 -3px 0 inset;
  transform: translateY(-2px);
  cursor: pointer;
}

.default:hover {
  background: #919baf;
  box-shadow: none;
}

.default:disabled {
  background: #919baf;
  opacity: 60%;
  pointer-events: none;
}

.red {
  margin: 5px 5px;
  padding: 5px 10px;

  font-family: "Tiro Devanagari Marathi", serif;
  font-size: 15px;
  font-weight: 300;
  outline: none;
  text-decoration: none;

  min-width: min-content;
  max-width: max-content;

  background-color: #cd5c5c;
  border: 1px solid #ab274f;
  border-radius: 5px;
  color: #1a1a1a;

  box-shadow: rgba(223, 17, 62, 0.5) 0 8px 10px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #ab274f 0 -3px 0 inset;
  transform: translateY(-2px);
  cursor: pointer;
}

.red:hover {
  color: white;
  background: #CB4154;
  box-shadow: none;
}
