@import url("https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Marathi&display=swap");

.default {
  background: #abcdef;

  font-family: "Tiro Devanagari Marathi", serif;
  text-align: center;
  padding: 10px;
  margin: 10px 10px;
  border: 1px solid #6495ed;
  font-weight: 300;
  border-radius: 5px;
  box-shadow: 0 0 10px 1px rgba(43, 126, 194, 0.5);

}

.default:hover {
  background: #6495ed;
}

.red {
  font-family: "Tiro Devanagari Marathi", serif;
  border: 1px solid #ab274f;
  background: #e52b50;
  padding: 10px;
  margin: 10px 10px;
  font-weight: 600;
  border-radius: 5px;
  box-shadow: 0 0 10px 1px rgba(223, 17, 62, 0.5);
}

.red:hover {
  background: #ab274f;
}
