/* @import url("https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Marathi&display=swap");
.someClass {
}

.container {
  flex-direction: column;
  height: 150px;
  font-family: "Tiro Devanagari Marathi", serif;
  background-color: #fffafa;
}

.error {
  border: 1px solid #ff033e;
}

.notError {
  border: 1px solid greenyellow;
}

.errorValue {
  padding: 0 10px;
  color: #ff033e;
} */

.users {
  font-size: 40px;
  color: blueviolet;
}
.usersGreeting {
  font-size: 25px;
  color: aqua;
}
