@import url("https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Marathi&display=swap");
.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  text-align: center;
}

/* .error {
  border: 1px solid #ff033e;
}

.notError {
  border: 1px solid greenyellow;
}

.errorValue {
  padding: 0 10px;
  color: #ff033e;
} */

li {
  list-style-type: none;
}

li::before {
  content: "◌";

  color: #4c2f27;
  font-size: 25px;
}
.usersGreeting {
  width: 50px;
  margin: 10px;

  color: #4c2f27;
  font-weight: bold;
  font-size: 20px;

  border-radius: 5px;
  border: 1px solid #79443b;

  background-color: #dabdab;
}
.users {
  font-size: 25px;
  color: #ab274f;
}
